# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Backup files
*.bak

# OS files
Thumbs.db
Desktop.ini

# Editor temp files
*.tmp
*.temp
*.swp
*.swo
*~

# Logs
*.log

# Obsidian local workspace state
Documentation_DayZ_Qwest/.obsidian/workspace.json
